* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    /* width:100%; */
    background: rgba(9, 243, 173, 0.678);
    justify-content: center;
    align-items: center;
    /* align-content:center; */
    /* align content and item are different */
    
}

.box1 {
    height: 344px;
    width: 344px;
    background-color: aqua;
    font-size: 45px;
    border: solid black 4px;
    /* align-self:flex-end; */
    flex-grow: 2;
    align-self: stretch;

}

.box2 {
    height: 344px;
    width: 344px;
    background-color: rgb(96, 192, 41);
    font-size: 45px;
    border: solid black 4px;
    order: -1;
    align-self: stretch;

    flex-grow: 2;
}

.box1a {
    height: 344px;
    width: 344px;
    background-color: rgb(255, 0, 0);
    font-size: 45px;
    border: solid black 4px;
    order: 4;
    flex-grow: 2;
}

.box2a {
    height: 344px;
    width: 344px;
    background-color: rgb(184, 160, 228);
    font-size: 45px;
    border: solid black 4px;
    /* align-self:flex-start; */
    flex-grow: 3;
}
